# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
logs/
*.log

# Virtual environment
.env/
venv/

# OS-specific files
.DS_Store
Thumbs.db
